<!DOCTYPE html>
<html lang="de">


      {% include "partials/head.njk" %}

<body> <!-- class="tmp-white-version" -->

      {% include "partials/header.njk" %}



     <main>
    {{ content | safe }}
     </main>


    {% include "partials/footer.njk" %}

    <!--
    <div class="demo-button-wrapper">
        <div class="all-demo show-demo">
            <div class="demos">
                <div class="theme-wrapper">
                    <a href="opentowork.html"
                       style="color: white; font-weight: bold; text-decoration: none;
                              font-size: 24px; letter-spacing: 2px; padding: 6px 14px;
                              background-color: var(--theme-green); border-radius: 6px; display: inline-block;">
                        OpenToWork
                    </a>
                </div>
            </div>
        </div>
    </div>
    -->

    <!-- Scripts -->
    <script src="{{ site.baseurl }}/assets/js/vendor/jquery.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/jquery-ui.min.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/waypoints.min.js?v={{ build.timestamp }}"></script>

    <script src="{{ site.baseurl }}/assets/js/plugins/odometer.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/appear.js?v={{ build.timestamp }}"></script>

    <script src="{{ site.baseurl }}/assets/js/vendor/jquery-one-page-nav.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/swiper.js?v={{ build.timestamp }}"></script>

    <script src="{{ site.baseurl }}/assets/js/plugins/gsap.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/splittext.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/scrolltigger.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/scrolltoplugins.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/smoothscroll.js?v={{ build.timestamp }}"></script>
    <!-- bootstrap Js-->
    <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/waw.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/isotop.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/animation.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/contact.form.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/vendor/backtop.js?v={{ build.timestamp }}"></script>
    <script src="{{ site.baseurl }}/assets/js/plugins/text-type.js?v={{ build.timestamp }}"></script>
    <!-- custom Js -->
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</body>

</html>
