---
layout: layouts/base.njk
title: 404 – Seite nicht gefunden
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="container tmp-section-gap text-center">
<br>
<br>
  <h1>404 – Seite nicht gefunden</h1>

  <a class="tmp-btn hover-icon-reverse radius-round mt-4" href="{{ site.baseurl }}/">
    <span class="btn-text">Zurück Startseite</span>
    <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
  </a>
</div>