---
layout: layouts/base.njk
title: Über mich
permalink: "/about/"
---

   
   {% include "partials/breadcrumb.njk" %}

 <div class="blog-classic-area-wrapper tmp-section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8 mx-auto">
                    <div class="blog-details-left-area text-center">

                        <!--
                        <div class="thumbnail-top">
                            <img src="{{ site.baseurl }}/assets/images/about/about_wolfswarte.png" alt="Corporate_business">
                        </div>
                        -->
                        <br>

                        <h4 class="title">Wer ich bin</h4>

                        <div class="our-portfolio-swiper">
                             <p class="disc" style="font-weight: bold;">
                                Ich bin gelernter Groß- und Außenhandelskaufmann und habe anschließend dual Betriebswirtschaftslehre an der DHBW Mosbach studiert. Ich bin im 
                                Familienunternehmen früh mit Maschinen und generell Arbeit in Berühung gekommen und kenne gewerbliche Arbeit aus der Praxis. 
                                <br>
                                Mir fällt es leicht, mit meinem digitalen und praktischem technischem Verständnis sowie kaufmännischem Denken Abläufe schnell zu verstehen, 
                                zu gestalten und Menschen dabei zu verbinden. 
                               <br>
                                 Auf eine klare, ehrliche Kommunikation auf Augenhöhe lege ich großen Wert. Dabei interessiere ich mich auch immer für den Menschen hinter der Rolle.
                               </p>
                             <div class="check-box-wrap">
                        <ul>
                            <li>
                                <h4 class="check-box-item">
                                    <span><i class="fa-solid fa-circle-check"></i></span>
                                    Prozesse verstehen, vereinfachen und wirksam gestalten
                                </h4>
                            </li>
                            <li>
                                <h4 class="check-box-item">
                                    <span><i class="fa-solid fa-circle-check"></i></span>
                                    Technisches Verständnis – vom Lkw bis zur Prozessautomation – mit digitaler Tiefe
                                </h4>
                            </li>
                            <li>
                                <h4 class="check-box-item">
                                    <span><i class="fa-solid fa-circle-check"></i></span>
                                    Menschen klar und ermutigend führen, Vertrauen fördern
                                </h4>
                            </li>
                            <li>
                                <h4 class="check-box-item">
                                    <span><i class="fa-solid fa-circle-check"></i></span>
                                    Unternehmerisch denken und Verantwortung übernehmen
                                </h4>
                            </li>
                            <li>
                                <h4 class="check-box-item">
                                    <span><i class="fa-solid fa-circle-check"></i></span>
                                    Technik, Menschen und Abläufe verbinden
                                </h4>
                            </li>
                        
                        </ul>
                    </div>

                          
                           
                    
                    
                        </div> <!-- .our-portfolio-swiper -->

                    </div> <!-- .blog-details-left-area -->

                   

                </div> <!-- .col -->
            </div> <!-- .row -->
        </div> <!-- .container -->

        <div class="about-content-area">
        <div class="container tmp-section-gap">
            <div class="text-para-doc-wrap">
                <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
                        <div class="about-btn mt--40 tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <a class="tmp-btn hover-icon-reverse radius-round" href="/mein-weg/">
                                <span class="icon-reverse-wrapper">
                        <span class="btn-text">Mehr über meinen Weg erfahren</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                        <br>
                        </h2>
                        <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
                        Aktuell suche ich eine <span>neue Aufgabe</span> und
                        freue mich auf ein Gespräch. Schreiben Sie mir gerne!
                    
                </h2>
         
            </div>
        </div>
    </div>
    </div> <!-- .blog-classic-area-wrapper -->

    

   

    
<section class="service-area tmp-section-gap">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a href="mailto:hello@creimann.cc" class="service-card-link">
          <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
            <div class="service-card-icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <h4 class="service-title">Per Mail</h4>
                    
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a href="https://www.linkedin.com/in/christoph-b-reimann-192328227/" target="_blank" rel="noopener" class="service-card-link">
          <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
            <div class="service-card-icon">
              <i class="fa-brands fa-linkedin"></i>
            </div>
             <h4 class="service-title">Auf LinkedIn</h4>
                    
          </div>
        </a>
      </div>

    </div>
  </div>
</section>


