---
layout: layouts/base.njk
title: Startseite
---





    <!-- tmp banner area start -->
    <div class="rpp-banner-two-area">
        <div class="container">
            <div class="banner-two-main-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="banner-right-content">
                            <div class="main-img">
                                <img class="tmp-scroll-trigger tmp-zoom-in animation-order-1" src="assets/images/banner/ich.png" alt="banner-img">
                                <!--
                                <h2 class="banner-big-text-2 up-down">#OpenToWork</h2>
                                <div class="benner-two-bg-red-img">
                                    <img src="assets/images/banner/banner-user-image-two-red-bg.png" alt="red-img">
                                </div>
                                -->
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 order-lg-1">
                        <div class="inner">
                            <span class="sub-title tmp-scroll-trigger tmp-fade-in animation-order-1">Ich bin</span>
                            <h1 class="title tmp-scroll-trigger tmp-fade-in animation-order-2">
                                Christoph B. Reimann
                            </h1>
                            <p class="disc tmp-scroll-trigger tmp-title-split tmp-fade-in animation-order-3">
                                <span><strong>Mensch - Betriebswirtschaft - Generalist</strong></span>
                            </p>
                            
                            <p class="disc tmp-scroll-trigger tmp-title-split tmp-fade-in animation-order-3">
                                "Echte Entwicklung beginnt, <br> 
                                wenn <span>Menschen</span> sich gesehen <br> und sicher fühlen."
                            </p>
                            
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- tmp banner area end -->

    <div class="about-content-area">
        <div class="container tmp-section-gap">
            <div class="text-para-doc-wrap">
                <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
                    Neugieriger <span>Generalist</span> – mit praktischem Verständnis für Prozesse.
                    Ich verbinde Betriebswirtschaft, technisches Know-how und <span>Menschen</span>kenntnis, um <span>Verbindungen</span> zu schaffen bevor Brüche entstehen.
                </h2>
            </div>
        </div>
    </div>

 
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-1 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-solid fa-lightbulb"></i>
                        </div>
                        <h4 class="service-title">neugierig</h4>
                        <p class="service-para">und lernbereit</p>
                    </div>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-2 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-solid fa-scale-balanced"></i>
                        </div>
                        <h4 class="service-title">reflektiert</h4>
                        <p class="service-para">und gewissenhaft</p>
                    </div>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-solid fa-handshake"></i>
                        </div>
                        <h4 class="service-title">integer</h4>
                        <p class="service-para">und loyal</p>
                    </div>
                </div>

                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
                        <div class="service-card-icon">
                            <i class="fa-solid fa-water"></i>
                        </div>
                        <h4 class="service-title">klar</h4>
                        <p class="service-para">und ruhig</p>
                    </div>
                </div>

            </div>
        </div>


   <div class="about-content-area">
        <div class="container tmp-section-gap">
            <div class="text-para-doc-wrap">
                <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
                         <div class="about-btn mt--40 tmp-scroll-trigger tmp-fade-in animation-order-6">
                            <a class="tmp-btn hover-icon-reverse radius-round" href="about">
                                <span class="icon-reverse-wrapper">
                        <span class="btn-text">Mehr über mich erfahren</span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                <span class="btn-icon"><i class="fa-sharp fa-regular fa-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                        <br>
                       </h2>
                        <h2 class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 inv-title-animation-wrap">
                        Aktuell suche ich eine <span>neue Aufgabe</span> und
                        freue mich auf ein Gespräch. Schreiben Sie mir gerne!
                    
                        </h2>
                    
                 <div class="container">
    <div class="row justify-content-center">

      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a href="mailto:hello@creimann.cc" class="service-card-link">
          <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
            <div class="service-card-icon">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <h4 class="service-title">Per Mail</h4>
                    
          </div>
        </a>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-3">
        <a href="https://www.linkedin.com/in/christoph-b-reimann-192328227/" target="_blank" rel="noopener" class="service-card-link">
          <div class="service-card-v1 tmp-scroll-trigger tmp-fade-in animation-order-3 tmp-link-animation">
            <div class="service-card-icon">
              <i class="fa-brands fa-linkedin"></i>
            </div>
             <h4 class="service-title">Auf LinkedIn</h4>
                    
          </div>
        </a>
      </div>

    </div>
  </div>
         


  

  