{# Breadcrumb #}
<div class="breadcrumb-area breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-inner text-center">
          <h1 class="title split-collab">
            {{ title or page.fileSlug | capitalize }}
          </h1>
          <ul class="page-list">
            <li class="tmp-breadcrumb-item">
              <a href="{{ site.baseurl }}/">Start</a>
            </li>
            <li class="icon">
              <i class="fa-solid fa-angle-right"></i>
            </li>
            <li class="tmp-breadcrumb-item active">
              {{ title or page.fileSlug | replace("-", " ") | capitalize }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
