<!-- Start Footer Area -->
<footer class="footer-area footer-style-two-wrapper bg-color-footer bg_images tmp-section-gap">
  <div class="container">
    <div class="footer-main footer-style-two">
      <div class="row g-5">
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="single-footer-wrapper border-right mr--20">
            <div class="logo">
              <a href="index.html">
                <strong>Christoph B. Reimann</strong>
              </a>
            </div>

            <div class="social-link footer">
              <a href="https://www.linkedin.com/in/christoph-b-reimann-192328227/">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="quick-link-wrap">
            <h5 class="ft-title">Quick Link</h5>
            <ul class="ft-link tmp-scroll-trigger animation-order-1 tmp-link-animation">
              <li><a href="about.html">Über mich</a></li>
              <li><a href="contact.html">Impressum &amp; Datenschutz</a></li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="single-footer-wrapper contact-wrap">
       
            <ul class="ft-link tmp-scroll-trigger animation-order-1 tmp-link-animation">
              <li>
                <span class="ft-icon"><i class="fa-solid fa-location-dot"></i></span>
                Bad Harzburg, Niedersachsen
              </li>
              <li>
                <span class="ft-icon"><i class="fa-solid fa-envelope"></i></span>
                <a href="mailto:hello@creimann.cc">hello@creimann.cc</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-6">
          <!-- Platz für weiteren Content -->
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="copyright-area-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main-wrapper tmp-scroll-trigger animation-order-1">
          <p class="copy-right-para">
            © Christoph B. Reimann
            <script>document.write(new Date().getFullYear())</script>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ready chatting option via email -->
<div class="ready-chatting-option tmp-ready-chat">
  <input type="checkbox" id="click">
  <label for="click">
    <i class="fab fa-envelope"></i>
    <i class="fas fa-times"></i>
  </label>
  <div class="wrapper">
    <div class="chat-box">
      <div class="desc-text">
        <p><strong>Schreiben Sie mir gerne per Mail oder auf LinkedIn. Ich freue mich über jeden Austausch!</strong></p>
        <div class="contact-icons">
          <a href="mailto:hello@creimann.cc" class="contact-link" title="E-Mail senden">
            <i class="fas fa-envelope"></i>
          </a>
          <a href="https://www.linkedin.com/in/christoph-b-reimann-192328227/" class="contact-link" target="_blank" title="LinkedIn-Profil">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</div>
<!-- ready chatting option via email end -->

<!-- progress area start -->
<div class="scrollToTop" style="display: block;">
  <div class="arrowUp">
    <i class="fa-light fa-arrow-up"></i>
  </div>
  <div class="water" style="transform: translate(0px, 87%);">
    <svg viewBox="0 0 560 20" class="water_wave water_wave_back">
      <use xlink:href="#wave"></use>
    </svg>
    <svg viewBox="0 0 560 20" class="water_wave water_wave_front">
      <use xlink:href="#wave"></use>
    </svg>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 560 20" style="display: none;">
      <symbol id="wave">
        <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z" fill="currentColor"></path>
        <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z" fill="currentColor"></path>
        <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z" fill="currentColor"></path>
        <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z" fill="currentColor"></path>
      </symbol>
    </svg>
  </div>
</div>
<!-- progress area end -->
